/* .global{
 text-align: center;
} */

body{
    font-family: "Roboto";
}

.container{
    width: 1280px;
    margin: 0 auto;
}


.header{
    margin-top: 63px;
    margin-bottom: 48px;


}

.ramda{
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-bottom: 38px;
    text-decoration: none;

}

.part-text-ramda{
    color: #18a0fb;

}

/*.top-menu{

}

.top-menu-list{
    display: flex;
    justify-content: center;
    list-style: none;
    background: #35444F;
    margin-top: 40px;
    padding-top: 26px;
    padding-bottom: 19px;

} */

/*.border-top-menu-link-item{
    border: 1px solid rgba(0,0,0,0.1);
    padding-top: 26px;
    padding-bottom: 19px;
    background: #35444F;
    margin-right: 2px;

} */
.first-empty-item{
    width: 162px;

}
.Functional-Programming-item{
    padding-left: 32px;
    padding-right: 33px;
    padding-top: 26px;
    padding-bottom: 19px;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.Ramda-item{
    padding-left: 36px;
    padding-right: 38px;
    padding-top: 26px;
    padding-bottom: 19px;
    border-right: 2px solid white;
}

.Fantasy-Land-Spec-item {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 26px;
    padding-bottom: 19px;
    border-right: 2px solid white;
}
.Node-for-all-item{
    padding-left: 40px;
    padding-right: 18px;
    padding-top: 26px;
    padding-bottom: 19px;
    border-right: 2px solid white;
}
.second-empty-item{
    width: 133px;
}
/*.top-menu-item{
    display: inline-block;
    border: 2px solid rgba(0,0,0,0.1);

}

.top-menu-item-link{
    text-decoration: none;
    color: #FFFFFF;
    /* border: 1px solid rgba(0,0,0,0.1); */
 /*   font-size: 24px;
    line-height: 28px;

} */

.top-menu-list{
    display: flex;
    margin-top: 38px;
    background: #35444F;

}

.top-menu-item-link{
    display: block;

    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.top-menu-item-link:hover{
    background: #222F3A;
}



.main-section{
    display: flex;
}


.side-menu{
    display: flex;
}

.side-menu-list{
    border: 1px solid #000000;
    margin-right: 53px;
    width: 344px;
}

.Ramda-side-menu-item{
    margin-left: 44px;
    margin-top: 26px;
    margin-bottom: 52px;
}

.Why-Ramda-side-menu-item{
    margin-left: 44px;
    margin-bottom: 52px;
}

.Whats-Different-side-menu-item{
    margin-left: 44px;
    margin-bottom: 52px;
}

.Introductions-side-menu-item{
    margin-left: 44px;
    margin-bottom: 52px;
}

.Philosophy-side-menu-item{
    margin-left: 44px;
    margin-bottom: 30px;
}

.side-menu-link{
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    text-decoration: none;
}

.side-menu-link:hover{
    background: #DBDBDB;
    margin-right: 35px;
    font-weight: 500;
}


.logo-main{
    display: flex;
    flex-wrap: wrap;
}

.image-logo-border{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    margin-bottom: 37px;
}

.image-logo{
    width: 320px;
    height: 381px;
}



.text2{
    margin-top: 34px;
}




.footer{
    margin-top: 54px;
    margin-bottom: 30px;
}

.footer-content{
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    align-items: center;
}

/* .Ramda-footer-item{
    padding-left: 0px;
} */

.footer-menu-list{
    display: flex;
    margin-left: 40px;
    justify-content: space-around;
    width: 928px;

}

.footer-menu-link{
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-menu-link:hover{
   text-decoration: underline;
    color: #18a0fb;
}

.footer-copyright{
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    margin-right: 40px;
    margin-left: 82px;
}

